*{

}


:root{
    --greenSelect:#2D2926FF;
    --greySelectAll:#aaaaaa;
    --white: #eee
}

.mainContainer{
    margin-right:20%;
    margin-left: 20%;
}

#table{
    background-color: lightskyblue;

}

#row-center{
    justify-content: center;
    flex-direction: row;
    margin-right:20%;
    margin-left: 20%;
}

#cart {
    margin-left:50%;
}

#id{
    width:100%;
    height: 100%;
}

.selectButton{
    background-color: #689f38;
    border:none;
    color:white;
    cursor:pointer;
    padding: 10px 24px;
    border-radius: 10px;
}

.selectButton.all{
    background-color: var(--greySelectAll);;
    margin:15px;
}

.selectButton.cart{
    background-color: red;
}
#mainTable{
    border: 1px black;
}